# But not these files...
!.gitignore

# etc...
lib/src/helpers/*.so*
bin/*
lib/*.a
build/*
*.key
html/
latex/

**/cmake-build-debug
**/CMakeCache.txt
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
**/*.make 
**/Makefile
.vscode/*
