# But not these files...
!.gitignore

# etc...
lib/src/helpers/*.so*
**/bin/*
**/lib/*.a
**/build/*
*.key
html/
latex/
**/3rdparty/**

**/CMakeFiles/*
**/*.cmake
**/*.pc
**/*.so.*
**/*.so
**/*.internal
**/cmake-build-debug
**/CMakeCache.txt
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
**/*.make 
**/Makefile
**/atasm-build.json
**/.vscode/*
**/_deps/**

