# But not these files...
!.gitignore

# etc...
lib/src/helpers/*.so*
bin/*
lib/*.a
build/*
*.key
html/
latex/
3rdparty/json/*

**/CMakeFiles/*
**/*.cmake
**/*.pc
**/*.in
**/*.so.**
**/*.internal
**/cmake-build-debug
**/CMakeCache.txt
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
**/*.make 
**/Makefile
.vscode/*
